body, html{
    background-image: url("../images/spacemap.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    margin: 0%;
    
}
button{
    position: fixed;
    right: 5%;
    margin-top: 80vh; 
    display: table;
    justify-content: center;
    background-color: #40995f;
    border: 1px solid #40995f;
    color: white;
    font-weight: bolder;
    font-size: 4vmin;
    font-family: Arial;
    text-shadow: 0px 1px 1px #757575;
    border-radius: 20pt;
    border: none;
    padding: 5px 32px;
    width: auto;
    height: auto;
    outline: none;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0.5) 51%);
}

#reminder{
    position: fixed;
    top: 3%;
    right: 17%;
    width: 40vw;
    height: 17vh;
    border: 4px solid #40995f;
    background-color: black;  
    color: #40995f;
    letter-spacing: 1px;
    font-size: 3vmin;
    outline: none;
    display: table;
    padding: 5px;
}

.inner{
    position: fixed;
    left: 10%;
    margin-top: 27vh;
    height:  100%;
    width: 100%;
    display: table;
    justify-content: center;
}
#a1{
    width: 10vw;
    height: 15vh;
}
#a2, #a3, #a4{
    margin-left: 0%;
    margin-bottom: 3%;
    width: 10vw;
    height: 10vh;
}

@media only screen and (max-width: 748px) {
    label{
        font-size: 2vmin;
        letter-spacing: 0vmin;
    }

}
